@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

@font-face {
  font-family: "Source Code Pro";
  src: url("./Person/Font/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("./Person/Font/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./Person/Font/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

.card-zoom {
  @apply shadow-tuanProductThumb bg-center;
}

.card-zoom:hover > .card-zoom-text {
  @apply duration-500 scale-105 transition;
}

.category {
  @apply rounded-lg cursor-pointer px-6 py-2 hover:bg-[#FFC288] transition duration-300;
}

.filter-title {
  @apply pl-3 pt-2 pb-0 w-60 font-bold cursor-default;
}

.filter {
  @apply p-2 text-sm pl-6  hover:bg-[#FFC288] transition duration-200;
}

body {
  overflow-x: hidden;
}

.page-number {
  @apply py-1 px-3 m-2 hover:bg-[#FFC288] rounded-lg cursor-pointer transition duration-200;
}

.selected-page-number { 
  @apply py-1 px-3 m-2 bg-[#FEA82F] rounded-lg cursor-pointer transition duration-200 text-white;
}

.hot-deal {
  @apply bg-white grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 rounded-b-lg;
}