@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

@font-face {
  font-family: "Source Code Pro";
  src: url("./Person/Font/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Ubuntu";
  src: url("./Person/Font/Ubuntu/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Roboto Slab";
  src: url("./Person/Font/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
}

.card-zoom {
  @apply overflow-hidden shadow-tuanProductThumb ease-in-out duration-500 transition bg-center;
}

.card-zoom-image {
  @apply absolute transition-all duration-500 ease-in-out transform bg-center bg-cover;
}

.card-zoom:hover, .card-zoom-image {
  @apply scale-105;
}

